body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #89cff0;
    font-family: 'Lexend', sans-serif;
    color: rgb(19, 11, 71);
}

h1, h2, h3 {
    margin:0;
    text-align: center;
}

.description {
    display: inline-block;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-style: italic;
    padding: 10px 0;
}

#beeld, #lijst, #beschrijving, #titel {
    background-color: #f5b4df;
    width: 800px;
    margin: 0.5em;
    text-align: center;
    min-height: 1em;
}
#sorry {
    color: darkred;
}
#lijst {
    max-height: 200px;
    overflow-y: auto;
}
.link {
    padding: 5px;
}
.status {
    font-style: italic;
    font-size: small;
}
.verberg {
    display: none;
}
.msg {
    position: absolute;
    width: 100%;
    opacity: 0.50;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(21, 21, 26);
    background-color: white;
}

.link .gedaan {
    display: none
}
.link.alles {
    background-color: #37a8ddc9;
}
.link.alles .status {
    display: none
}
.link.alles .gedaan {
    display: inline;
    color: rgb(240, 241, 230);
}
.link:hover {
    background-color: #a792b2;
}
.link.active {
    border-width: 1px;
    border-color: lightgray;
    border-style: dotted;
}
#beschrijving {
   min-height: 200px;
}
#beeld {
    display: flex;
    justify-content: space-around;
}
#beeld .plaats .eitjes.nieuw {
    opacity: 0;
}
.beloning {
    position: relative;
}
.plaats {
    position: relative;
}
.plaats .ei {
    position: absolute;
}
.plaats label {
    position: absolute;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: rgb(19, 11, 71);
}

img.foto {
    min-height: 300px;
    min-width: 400px;
}
img.mandje {
    position: absolute;
}

#beschrijving, #titel {
    position: relative;
}

#titel .description {
    display: none;
}

#titel:hover .description {
    display: block;
}
#editor {
    position: relative;
}

#editor textarea {
    width: 800px;
    min-height: 120px;
}
.menu {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    padding: 5px;
}
.menu.opnieuw {
    top: 0;
    width: 100px;
    right: 0;
    font-weight: bold;
}
.menu > div {
    display: inline;
    padding: 2px;
}
.menu > div.selected {
    display: inline;
    font-weight: bold;
}
.menu > div:hover {
    text-decoration: underline;
}

#licentie {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#licentie > .thumb  img {
    width: 50px;
} 
#licentie .desc {
    display: none;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    color: darkgrey;
    font-size: xx-small;
    margin-left: 10px;
}

#licentie:hover .desc {
    display: initial;
}